<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <div class="flex-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly">
      <div class="flex-child " fxFlex="40%" fxFlex.xs="100%" fxFlex.lt-sm="100%" fxLayoutGap="16px grid">
        <mat-form-field appearance="fill">
          <input matInput name="voornaam" ngModel type="text" placeholder="Voornaam" #voornaamInput="ngModel" required>
          <mat-error *ngIf="voornaamInput.invalid">Gelieve uw voornaam in te vullen.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput name="naam" ngModel type="text" placeholder="Naam" #naamInput="ngModel" required>
          <mat-error *ngIf="naamInput.invalid">Gelieve uw naam in te vullen.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput name="straat" ngModel type="text" placeholder="Straat" #straatInput="ngModel" required>
          <mat-error *ngIf="straatInput.invalid">Gelieve uw straat in te vullen.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput name="huisnummer" ngModel type="number" placeholder="Nr" #huisnummerInput="ngModel" required>
          <mat-error *ngIf="huisnummerInput.invalid">Gelieve uw huisnummer in te vullen.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput name="gemeente" ngModel type="text" placeholder="Gemeente" #gemeenteInput="ngModel" required>
          <mat-error *ngIf="gemeenteInput.invalid">Gelieve uw gemeente in te vullen.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput name="telefoon" ngModel type="text" placeholder="Telefoon/GSM" #telefoonInput="ngModel" required>
          <mat-error *ngIf="telefoonInput.invalid">Gelieve uw telefoon- of GSM-nummer in te vullen.</mat-error>
        </mat-form-field>
      </div>
      <div class="flex-child " fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutGap="16px grid">
        <mat-form-field appearance="fill">
          <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
      </div>
    </div>
  </form>
</mat-card>
